.nutrition-container {
  &__title {
    text-align: center;
  }

  textarea {
    width: 50%;
    height: 250px;
    margin: auto;
    display: flex;
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      font-weight: 600;
      line-height: 1.39;
      margin: 20px;
      color: white;
      border: transparent;
      border-radius: 10px;
      background-color: green;
      width: 100px;
      height: 30px;
      cursor: pointer;
    }
    :disabled {
      background-color: gray;
      cursor: auto;
    }
  }
}
