<section class="performance-facts">
  <header class="performance-facts__header">
    <h1 class="performance-facts__title">Nutrition Facts</h1>
  </header>
  <table class="performance-facts__table">
    <thead>
    <tr>
      <th class="small-info" colspan="3">
        Amount Per Serving
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th colspan="2">
        <b>Calories</b>
      </th>
      <td>
        <b>{{nutritionData.calories}}</b>
      </td>
    </tr>
    <tr class="thick-row">
      <td class="small-info" colspan="3">
        <b>% Daily Value*</b>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <b> Fat</b>
        {{math.round(nutritionData.totalNutrients.FAT.quantity)}} g
      </th>
      <td>
        <b>{{math.round(nutritionData.totalDaily.FAT.quantity)}} %</b>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <b>Cholesterol</b>
        {{math.round(nutritionData.totalNutrients.CHOLE.quantity)}} mg
      </th>
      <td>
        <b>{{math.round(nutritionData.totalDaily.CHOLE.quantity)}}  %</b>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <b>Sodium</b>
        {{math.round(nutritionData.totalNutrients.NA.quantity)}} mg
      </th>
      <td>
        <b>{{math.round(nutritionData.totalDaily.NA.quantity)}} %</b>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <b>Total Carbohydrate</b>
        {{math.round(nutritionData.totalNutrients.CHOCDF.quantity)}}  g
      </th>
      <td>
        <b>{{math.round(nutritionData.totalDaily.CHOCDF.quantity)}} %</b>
      </td>
    </tr>
    <tr>
      <td class="blank-cell">
      </td>
      <th>
        Dietary Fiber
        {{math.round(nutritionData.totalNutrients.FIBTG.quantity)}} g
      </th>
      <td>
        <b>  {{math.round(nutritionData.totalDaily.FIBTG.quantity)}} %</b>
      </td>
    </tr>
    <tr>
      <td class="blank-cell">
      </td>
      <th>
        Sugars
        {{math.round(nutritionData.totalNutrients.SUGAR.quantity)}}  g
      </th>
      <td>
      </td>
    </tr>
    <tr class="thick-end">
      <th colspan="2">
        <b>Protein</b>
        {{math.round(nutritionData.totalNutrients.PROCNT.quantity)}}  g
      </th>
      <td>
        <b>{{math.round(nutritionData.totalDaily.PROCNT.quantity)}}  %</b>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Vitamin A
        {{math.round(nutritionData.totalNutrients.VITA_RAE.quantity)}}   mg
      </td>
      <td>
        <b>  {{math.round(nutritionData.totalDaily.VITA_RAE.quantity)}} %</b>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Vitamin C
        {{math.round(nutritionData.totalNutrients.VITC.quantity)}}  mg
      </td>
      <td>
        <b>  {{math.round(nutritionData.totalDaily.VITC.quantity)}} %</b>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Calcium
        {{math.round(nutritionData.totalNutrients.CA.quantity)}}  mg
      </td>
      <td>
        <b> {{math.round(nutritionData.totalDaily.CA.quantity)}} %</b>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Iron
        {{math.round(nutritionData.totalNutrients.FE.quantity)}}  mg
      </td>
      <td>
        <b>  {{math.round(nutritionData.totalDaily.FE.quantity)}} %</b>
      </td>
    </tr>
    <tr class="thin-end">
      <td colspan="2">
        Iron
        {{math.round(nutritionData.totalNutrients.K.quantity)}}  mg
      </td>
      <td>
        <b>  {{math.round(nutritionData.totalDaily.K.quantity)}} %</b>
      </td>
    </tr>
    </tbody>
  </table>
  <p class="small-info">*Percent Daily Values are based on a {{nutritionData.calories}} calorie diet</p>
</section>
